<h1>Get Products</h1>
<p>View dosyaları .cshtml uzantılı dosyalardır.  cs + html => razor teknolojisi</p>
<p>razor teknolojisi => Html içerisinde c# kodlarının yazmamızı sağlayan bir teknolojidir. </p>